h1 {
  margin: 0px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

.basic-note {
  background-color: #123456;
  height: 300px;
  width: 400px;
}

.sticky-title {
  margin: 10px;
  background-color: #FFFFFF20;
  color: #FFFFFF;
  font-size: 2em;
  font-family: serif;
  font-weight: bold;
  display: block;
  border: none;
  resize: none;
  padding: 2px;
  white-space: pre-wrap;
}

.sticky-body {
  margin: 10px;
  background-color: #FFFFFF20;
  color: #FFFFFF;
  display: block;
  border: none;
  resize: none;
  padding: 2px;
  white-space: pre-wrap;
}
