h1 {
  margin: 0px;
}

#app {
  display: flex;
  flex-direction: column;
}

.basic-note {
  background-color: #123456;
  height: 300px;
  width: 400px;
}

.sticky-title {
  background-color: #FFFFFF20;
  margin: 10px;
  color: #FFFFFF;
}

.sticky-body {
  margin: 10px;
  background-color: #FFFFFF20;
  color: #FFFFFF;
  display: block;
  border: none;
  resize: none;
  padding: 2px;
  white-space: pre-wrap;
}
