input {
    border: none;
    font-family: serif;
    margin: 0px;
}

.basic-note {
    background-color: #123456;
    height: 300px;
    width: 400px;
}

.sticky-title {
    background-color: #FFFFFF20;
    margin: 10px;
    color: #FFFFFF;
}

.sticky-body {
    margin: 10px;
    background-color: #FFFFFF20;
    color: #FFFFFF;
    display: block;
}

#input {
    display: none;
}